main{
  background: linear-gradient(172deg, #00030b, #063054);
  height: 53.7vw;
  overflow: hidden;
}
header{
  position: relative;
}
figure img{
  position: relative;
  width: 30.6%;
}

.navbar-brand img{
  position: relative;
  width: 7%;
}
.but{
  text-align: center;
  align-items: center;
}
.but .f{
  position: relative;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  opacity: 0.5;
  transition: .5s;
}
.but .f:hover{
  border-bottom: 2px solid #0ef !important;
  border-radius: 15px;
  opacity: 1;
  transform: scale(1) translateY(0);
  color: #0ef;
}

.but button{
  background: linear-gradient(to right,#0ACEFE,#26999B);
}
#in{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
#up{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
#fup{
  color: #fff;
  text-decoration: none;
}
.but button:hover{
  background: transparent;
  border: 1px solid #0ACEFE;
  color: #0ACEFE;
  transform: scale(1);
  align-items: center;
}

.menu2{
  display: none;
}
#hamburger i{
  display: none;
  font-size: 25px;
  font-weight: 700;
}
.icon i{
  color: #fff;
  font-size: 1.4vw;
  font-weight: 600;
  cursor: pointer;
  padding: 0 0 0 10px;
}

#input {
  position: absolute;
  display: none;
  width: 42%;
  right: 9.5%;
  padding: 1vw;
  z-index: 1000;
  background: transparent;
  backdrop-filter: blur(15px);
  color: #fff;
  border-radius: 2vw;
  border: solid 1px #0ACEFE;
}
#input::placeholder{
  font-size: 1.4vw;
  font-weight: 600;
  color: #fff;
}



.bannerContent h1{
  transform: translate(27.1%,00%);
  color: #fff;
  font-size: 57px;
  font-weight: 900;
  font-family: "Arvo", serif
}

.bannerContent p{
  transform: translate(31%,00%);
  color: #ffffff87;
  font-size: 22px;
}

.bannerContent ul{
  list-style: none;
}
.bannerContent span{
  color: rgb(38, 216, 229);
}
.bannerContent li{
  font-size: 22px;
}
.bannerContent li i{
  color: #fff;
}
.bannerContentBtn{
  transform: translate(44%,0%);
}
.bannerContentBtn button{
  margin-top: 35px;
  width: 15%;
}
.bannerContentBtn button:first-child{
  color: #fff;
  border-radius: 9px;
  width: 10.6vw;
  border: transparent;
  background: linear-gradient(to right,#0ACEFE,#26999B);
}

.bannerContentBtn button:first-child:hover{
  border-radius: 0 19px 0 19px;
  transition: .8s;
  transform: scale(1.1);
  background: linear-gradient(to right,#297f80,#192a74);
}

.bannerContentBtn button:last-child{
  border: #3a3a3a7b solid 1px;
  border-radius: 9px;
  color: #fff;
  background-color: transparent;
}

.bannerContentBtn button:last-child:hover{
  border-radius: 0 19px 0 19px;
  transform: scale(1.1);
  transition: .8s;
  border: 1px solid #0ACEFE;
  
}

.counterSection{
  transform: translate(0%,100%);
  text-align: center;
}
.counterSection h3{
  color: #fff;
}
.counterSection p{
  color: #0ef;
}

.highlights{
  background-color: #F7FAFF;
}

.highlights h2{
  font-size: 36px;
  font-weight: 700;
}

.highlights p{
  font-size: 18px;
}

.book i{
  font-size: 45px;
}
.details h3{
  font-size: 19px;
}

.details p{
  font-size: 14px;
}

.formpage img{
  width: 100%;
}
.img1 img{
  width: 66.7%;
}
.img2 img{
  width: 80%;
}

.img3 img{
  width: 30vw;
  height: 30.19vw;
}

.img4 img{
  width: 66.7%;
}

.allimg:hover{
  border-radius: 0 19px 0 19px;
  transition: .4s;
  transform: scale(1.1);
  border: 3px dotted #0ACEFE;
}
.counterSection:hover{
  transition: .5s;
  /* transform: scale(1.1); */
  cursor: default;
  /* border: 2px dashed #0ACEFE; */
}
.counterSection .col:hover{
  transition: .5s;
  transform: scale(1.1);
  cursor: default;
}
.but3{
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
#learn{
  margin-right: 20px;
  cursor: pointer;
  margin-top: 30px;
  background: linear-gradient(to right,#0ACEFE,#26999B);
  padding: 0.7vw 1.5vw;
  border-radius: 9px;
  border: transparent;
}
#learn:hover{
  border-radius: 0 19px 0 19px;
  transition: .4s;
  transform: scale(1.1);
}
#sign{
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
#sign:hover{
  border-radius: 0 19px 0 19px;
  color: #fff;
  border: 1px solid #063054;
  padding: 0.7vw;
  background: #06305499;
  transition: 0.3s;
}
#sign i{
  color: #000;
}

#nan{
  border: 2px dotted #0ACEFE;

}

.but4{
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

#eclub{
  margin-right: 20px;
  cursor: pointer;
  margin-top: 30px;
  background: linear-gradient(to right,#0ACEFE,#26999B);
  padding: 0.7vw 1.5vw;
  border-radius: 9px;
  border: transparent;
}
#eclub:hover{
  border-radius: 0 19px 0 19px;
  transition: .4s;
  transform: scale(1.1);
}
#eclub a{
  text-decoration: none;
  color: #000;
}
/* .top4:has(.book1:hover) .book1:not(:hover){
  filter: blur(1px);
} */
.top4 .book1:hover{
  border: 2px dotted #063054;
  background: linear-gradient(to right,#0ACEFE,#26999B);
  transition:.5s;
  transform: scale(1.1);
  cursor: default;
}
.book1 i{
  font-size: 45px;
}

#hello{
  color: #fff;
  font-size: 2vw;
  transform: translate(-25%,178%);
}

.cyberhome{
  transform: translate(-400%,-700%);
  padding: 10px;
  background: #0ef;
  border-radius: 10px;  
  font-size: 20px;
  font-weight: 500; 
}